.item_layout {
    /* background-color: skyblue; */

    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;

    /* overflow: scroll; */
    padding: 5px 70px;
}

.item_layout_grid {
    color: black;
    /* margin: 5px;
    background-color:blue; */
    
    /* border: 1px solid;
    border-color: black; */
}

/* Cloumn 1 */
.item_layout_1_1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    /*background-color: orangered;*/
}

.item_layout_1_2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /*background-color: orangered;*/
}

.item_layout_1_3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    /*background-color: orangered;*/
}

.item_layout_1_4 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    /*background-color: orangered;*/
}

.item_layout_1_5 {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    /*background-color: orangered;*/
}

.item_layout_1_6 {
    grid-column: 6 / 7;
    grid-row: 1 / 2;
    /*background-color: orangered;*/
}

.item_layout_1_7 {
    grid-column: 7 / 8;
    grid-row: 1 / 2;
    /*background-color: orangered;*/
}

.item_layout_1_8 {
    grid-column: 8 / 9;
    grid-row: 1 / 2;
    /*background-color: orangered;*/
}

.item_layout_1_9 {
    grid-column: 9 / 10;
    grid-row: 1 / 2;
    /*background-color: orangered;*/
}

.item_layout_1_10 {
    grid-column: 10 / 11;
    grid-row: 1 / 2;
    /*background-color: orangered;*/
}

.item_layout_1_11 {
    grid-column: 11 / 12;
    grid-row: 1 / 2;
    /*background-color: orangered;*/
}

.item_layout_1_12 {
    grid-column: 12 / 13;
    grid-row: 1 / 2;
    /*background-color: orangered;*/
}

.item_layout_1_13 {
    grid-column: 13 / 14;
    grid-row: 1 / 2;
    /*background-color: orangered;*/
}

.item_layout_1_14 {
    grid-column: 14 / 15;
    grid-row: 1 / 2;
    /*background-color: orangered;*/
}

.item_layout_1_15 {
    grid-column: 15 / 16;
    grid-row: 1 / 2;
    /*background-color: orangered;*/
}

.item_layout_1_16 {
    grid-column: 16 / 17;
    grid-row: 1 / 2;
    /*background-color: orangered;*/
}

.item_layout_1_17 {
    grid-column: 17 / 18;
    grid-row: 1 / 2;
    /*background-color: orangered;*/
}

.item_layout_1_18 {
    grid-column: 18 / 19;
    grid-row: 1 / 2;
    /*background-color: orangered;*/
}

.item_layout_1_19 {
    grid-column: 19 / 20;
    grid-row: 1 / 2;
    /*background-color: orangered;*/
}

.item_layout_1_20 {
    grid-column: 20 / 21;
    grid-row: 1 / 2;
    /*background-color: orangered;*/
}


/* Cloumn 2 */
.item_layout_2_1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    /*background-color: orangered;*/
}

.item_layout_2_2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    /*background-color: orangered;*/
}

.item_layout_2_3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    /*background-color: orangered;*/
}

.item_layout_2_4 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    /*background-color: orangered;*/
}

.item_layout_2_5 {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    /*background-color: orangered;*/
}

.item_layout_2_6 {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
    /*background-color: orangered;*/
}

.item_layout_2_7 {
    grid-column: 7 / 8;
    grid-row: 2 / 3;
    /*background-color: orangered;*/
}

.item_layout_2_8 {
    grid-column: 8 / 9;
    grid-row: 2 / 3;
    /*background-color: orangered;*/
}

.item_layout_2_9 {
    grid-column: 9 / 10;
    grid-row: 2 / 3;
    /*background-color: orangered;*/
}

.item_layout_2_10 {
    grid-column: 10 / 11;
    grid-row: 2 / 3;
    /*background-color: orangered;*/
}

.item_layout_2_11 {
    grid-column: 11 / 12;
    grid-row: 2 / 3;
    /*background-color: orangered;*/
}

.item_layout_2_12 {
    grid-column: 12 / 13;
    grid-row: 2 / 3;
    /*background-color: orangered;*/
}

.item_layout_2_13 {
    grid-column: 13 / 14;
    grid-row: 2 / 3;
    /*background-color: orangered;*/
}

.item_layout_2_14 {
    grid-column: 14 / 15;
    grid-row: 2 / 3;
    /*background-color: orangered;*/
}

.item_layout_2_15 {
    grid-column: 15 / 16;
    grid-row: 2 / 3;
    /*background-color: orangered;*/
}

.item_layout_2_16 {
    grid-column: 16 / 17;
    grid-row: 2 / 3;
    /*background-color: orangered;*/
}

.item_layout_2_17 {
    grid-column: 17 / 18;
    grid-row: 2 / 3;
    /*background-color: orangered;*/
}

.item_layout_2_18 {
    grid-column: 18 / 19;
    grid-row: 2 / 3;
    /*background-color: orangered;*/
}

.item_layout_2_19 {
    grid-column: 19 / 20;
    grid-row: 2 / 3;
    /*background-color: orangered;*/
}

.item_layout_2_20 {
    grid-column: 20 / 21;
    grid-row: 2 / 3;
    /*background-color: orangered;*/
}

/* Cloumn 3 */
.item_layout_3_1 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    /*background-color: orangered;*/
}

.item_layout_3_2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    /*background-color: orangered;*/
}

.item_layout_3_3 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    /*background-color: orangered;*/
}

.item_layout_3_4 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    /*background-color: orangered;*/
}

.item_layout_3_5 {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
    /*background-color: orangered;*/
}

.item_layout_3_6 {
    grid-column: 6 / 7;
    grid-row: 3 / 4;
    /*background-color: orangered;*/
}

.item_layout_3_7 {
    grid-column: 7 / 8;
    grid-row: 3 / 4;
    /*background-color: orangered;*/
}

.item_layout_3_8 {
    grid-column: 8 / 9;
    grid-row: 3 / 4;
    /*background-color: orangered;*/
}

.item_layout_3_9 {
    grid-column: 9 / 10;
    grid-row: 3 / 4;
    /*background-color: orangered;*/
}

.item_layout_3_10 {
    grid-column: 10 / 11;
    grid-row: 3 / 4;
    /*background-color: orangered;*/
}

.item_layout_3_11 {
    grid-column: 11 / 12;
    grid-row: 3 / 4;
    /*background-color: orangered;*/
}

.item_layout_3_12 {
    grid-column: 12 / 13;
    grid-row: 3 / 4;
    /*background-color: orangered;*/
}

.item_layout_3_13 {
    grid-column: 13 / 14;
    grid-row: 3 / 4;
    /*background-color: orangered;*/
}

.item_layout_3_14 {
    grid-column: 14 / 15;
    grid-row: 3 / 4;
    /*background-color: orangered;*/
}

.item_layout_3_15 {
    grid-column: 15 / 16;
    grid-row: 3 / 4;
    /*background-color: orangered;*/
}

.item_layout_3_16 {
    grid-column: 16 / 17;
    grid-row: 3 / 4;
    /*background-color: orangered;*/
}

.item_layout_3_17 {
    grid-column: 17 / 18;
    grid-row: 3 / 4;
    /*background-color: orangered;*/
}

.item_layout_3_18 {
    grid-column: 18 / 19;
    grid-row: 3 / 4;
    /*background-color: orangered;*/
}

.item_layout_3_19 {
    grid-column: 19 / 20;
    grid-row: 3 / 4;
    /*background-color: orangered;*/
}

.item_layout_3_20 {
    grid-column: 20 / 21;
    grid-row: 3 / 4;
    /*background-color: orangered;*/
}

/* Cloumn 4 */
.item_layout_4_1 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    /*background-color: orangered;*/
}

.item_layout_4_2 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    /*background-color: orangered;*/
}

.item_layout_4_3 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    /*background-color: orangered;*/
}

.item_layout_4_4 {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    /*background-color: orangered;*/
}

.item_layout_4_5 {
    grid-column: 5 / 6;
    grid-row: 4 / 5;
    /*background-color: orangered;*/
}

.item_layout_4_6 {
    grid-column: 6 / 7;
    grid-row: 4 / 5;
    /*background-color: orangered;*/
}

.item_layout_4_7 {
    grid-column: 7 / 8;
    grid-row: 4 / 5;
    /*background-color: orangered;*/
}

.item_layout_4_8 {
    grid-column: 8 / 9;
    grid-row: 4 / 5;
    /*background-color: orangered;*/
}

.item_layout_4_9 {
    grid-column: 9 / 10;
    grid-row: 4 / 5;
    /*background-color: orangered;*/
}

.item_layout_4_10 {
    grid-column: 10 / 11;
    grid-row: 4 / 5;
    /*background-color: orangered;*/
}

.item_layout_4_11 {
    grid-column: 11 / 12;
    grid-row: 4 / 5;
    /*background-color: orangered;*/
}

.item_layout_4_12 {
    grid-column: 12 / 13;
    grid-row: 4 / 5;
    /*background-color: orangered;*/
}

.item_layout_4_13 {
    grid-column: 13 / 14;
    grid-row: 4 / 5;
    /*background-color: orangered;*/
}

.item_layout_4_14 {
    grid-column: 14 / 15;
    grid-row: 4 / 5;
    /*background-color: orangered;*/
}

.item_layout_4_15 {
    grid-column: 15 / 16;
    grid-row: 4 / 5;
    /*background-color: orangered;*/
}

.item_layout_4_16 {
    grid-column: 16 / 17;
    grid-row: 4 / 5;
    /*background-color: orangered;*/
}

.item_layout_4_17 {
    grid-column: 17 / 18;
    grid-row: 4 / 5;
    /*background-color: orangered;*/
}

.item_layout_4_18 {
    grid-column: 18 / 19;
    grid-row: 4 / 5;
    /*background-color: orangered;*/
}

.item_layout_4_19 {
    grid-column: 19 / 20;
    grid-row: 4 / 5;
    /*background-color: orangered;*/
}

.item_layout_4_20 {
    grid-column: 20 / 21;
    grid-row: 4 / 5;
    /*background-color: orangered;*/
}

/* Cloumn 5 */
.item_layout_5_1 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    /*background-color: orangered;*/
}

.item_layout_5_2 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    /*background-color: orangered;*/
}

.item_layout_5_3 {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    /*background-color: orangered;*/
}

.item_layout_5_4 {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
    /*background-color: orangered;*/
}

.item_layout_5_5 {
    grid-column: 5 / 6;
    grid-row: 5 / 6;
    /*background-color: orangered;*/
}

.item_layout_5_6 {
    grid-column: 6 / 7;
    grid-row: 5 / 6;
    /*background-color: orangered;*/
}

.item_layout_5_7 {
    grid-column: 7 / 8;
    grid-row: 5 / 6;
    /*background-color: orangered;*/
}

.item_layout_5_8 {
    grid-column: 8 / 9;
    grid-row: 5 / 6;
    /*background-color: orangered;*/
}

.item_layout_5_9 {
    grid-column: 9 / 10;
    grid-row: 5 / 6;
    /*background-color: orangered;*/
}

.item_layout_5_10 {
    grid-column: 10 / 11;
    grid-row: 5 / 6;
    /*background-color: orangered;*/
}

.item_layout_5_11 {
    grid-column: 11 / 12;
    grid-row: 5 / 6;
    /*background-color: orangered;*/
}

.item_layout_5_12 {
    grid-column: 12 / 13;
    grid-row: 5 / 6;
    /*background-color: orangered;*/
}

.item_layout_5_13 {
    grid-column: 13 / 14;
    grid-row: 5 / 6;
    /*background-color: orangered;*/
}

.item_layout_5_14 {
    grid-column: 14 / 15;
    grid-row: 5 / 6;
    /*background-color: orangered;*/
}

.item_layout_5_15 {
    grid-column: 15 / 16;
    grid-row: 5 / 6;
    /*background-color: orangered;*/
}

.item_layout_5_16 {
    grid-column: 16 / 17;
    grid-row: 5 / 6;
    /*background-color: orangered;*/
}

.item_layout_5_17 {
    grid-column: 17 / 18;
    grid-row: 5 / 6;
    /*background-color: orangered;*/
}

.item_layout_5_18 {
    grid-column: 18 / 19;
    grid-row: 5 / 6;
    /*background-color: orangered;*/
}

.item_layout_5_19 {
    grid-column: 19 / 20;
    grid-row: 5 / 6;
    /*background-color: orangered;*/
}

.item_layout_5_20 {
    grid-column: 20 / 21;
    grid-row: 5 / 6;
    /*background-color: orangered;*/
}

/* Cloumn 6 */
.item_layout_6_1 {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    /*background-color: orangered;*/
}

.item_layout_6_2 {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    /*background-color: orangered;*/
}

.item_layout_6_3 {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
    /*background-color: orangered;*/
}

.item_layout_6_4 {
    grid-column: 4 / 5;
    grid-row: 6 / 7;
    /*background-color: orangered;*/
}

.item_layout_6_5 {
    grid-column: 5 / 6;
    grid-row: 6 / 7;
    /*background-color: orangered;*/
}

.item_layout_6_6 {
    grid-column: 6 / 7;
    grid-row: 6 / 7;
    /*background-color: orangered;*/
}

.item_layout_6_7 {
    grid-column: 7 / 8;
    grid-row: 6 / 7;
    /*background-color: orangered;*/
}

.item_layout_6_8 {
    grid-column: 8 / 9;
    grid-row: 6 / 7;
    /*background-color: orangered;*/
}

.item_layout_6_9 {
    grid-column: 9 / 10;
    grid-row: 6 / 7;
    /*background-color: orangered;*/
}

.item_layout_6_10 {
    grid-column: 10 / 11;
    grid-row: 6 / 7;
    /*background-color: orangered;*/
}

.item_layout_6_11 {
    grid-column: 11 / 12;
    grid-row: 6 / 7;
    /*background-color: orangered;*/
}

.item_layout_6_12 {
    grid-column: 12 / 13;
    grid-row: 6 / 7;
    /*background-color: orangered;*/
}

.item_layout_6_13 {
    grid-column: 13 / 14;
    grid-row: 6 / 7;
    /*background-color: orangered;*/
}

.item_layout_6_14 {
    grid-column: 14 / 15;
    grid-row: 6 / 7;
    /*background-color: orangered;*/
}

.item_layout_6_15 {
    grid-column: 15 / 16;
    grid-row: 6 / 7;
    /*background-color: orangered;*/
}

.item_layout_6_16 {
    grid-column: 16 / 17;
    grid-row: 6 / 7;
    /*background-color: orangered;*/
}

.item_layout_6_17 {
    grid-column: 17 / 18;
    grid-row: 6 / 7;
    /*background-color: orangered;*/
}

.item_layout_6_18 {
    grid-column: 18 / 19;
    grid-row: 6 / 7;
    /*background-color: orangered;*/
}

.item_layout_6_19 {
    grid-column: 19 / 20;
    grid-row: 6 / 7;
    /*background-color: orangered;*/
}

.item_layout_6_20 {
    grid-column: 20 / 21;
    grid-row: 6 / 7;
    /*background-color: orangered;*/
}

/* Cloumn 7 */
.item_layout_7_1 {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
    /*background-color: orangered;*/
}

.item_layout_7_2 {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
    /*background-color: orangered;*/
}

.item_layout_7_3 {
    grid-column: 3 / 4;
    grid-row: 7 / 8;
    /*background-color: orangered;*/
}

.item_layout_7_4 {
    grid-column: 4 / 5;
    grid-row: 7 / 8;
    /*background-color: orangered;*/
}

.item_layout_7_5 {
    grid-column: 5 / 6;
    grid-row: 7 / 8;
    /*background-color: orangered;*/
}

.item_layout_7_6 {
    grid-column: 6 / 7;
    grid-row: 7 / 8;
    /*background-color: orangered;*/
}

.item_layout_7_7 {
    grid-column: 7 / 8;
    grid-row: 7 / 8;
    /*background-color: orangered;*/
}

.item_layout_7_8 {
    grid-column: 8 / 9;
    grid-row: 7 / 8;
    /*background-color: orangered;*/
}

.item_layout_7_9 {
    grid-column: 9 / 10;
    grid-row: 7 / 8;
    /*background-color: orangered;*/
}

.item_layout_7_10 {
    grid-column: 10 / 11;
    grid-row: 7 / 8;
    /*background-color: orangered;*/
}

.item_layout_7_11 {
    grid-column: 11 / 12;
    grid-row: 7 / 8;
    /*background-color: orangered;*/
}

.item_layout_7_12 {
    grid-column: 12 / 13;
    grid-row: 7 / 8;
    /*background-color: orangered;*/
}

.item_layout_7_13 {
    grid-column: 13 / 14;
    grid-row: 7 / 8;
    /*background-color: orangered;*/
}

.item_layout_7_14 {
    grid-column: 14 / 15;
    grid-row: 7 / 8;
    /*background-color: orangered;*/
}

.item_layout_7_15 {
    grid-column: 15 / 16;
    grid-row: 7 / 8;
    /*background-color: orangered;*/
}

.item_layout_7_16 {
    grid-column: 16 / 17;
    grid-row: 7 / 8;
    /*background-color: orangered;*/
}

.item_layout_7_17 {
    grid-column: 17 / 18;
    grid-row: 7 / 8;
    /*background-color: orangered;*/
}

.item_layout_7_18 {
    grid-column: 18 / 19;
    grid-row: 7 / 8;
    /*background-color: orangered;*/
}

.item_layout_7_19 {
    grid-column: 19 / 20;
    grid-row: 7 / 8;
    /*background-color: orangered;*/
}

.item_layout_7_20 {
    grid-column: 20 / 21;
    grid-row: 7 / 8;
    /*background-color: orangered;*/
}

/* Cloumn 8 */
.item_layout_8_1 {
    grid-column: 1 / 2;
    grid-row: 8 / 9;
    /*background-color: orangered;*/
}

.item_layout_8_2 {
    grid-column: 2 / 3;
    grid-row: 8 / 9;
    /*background-color: orangered;*/
}

.item_layout_8_3 {
    grid-column: 3 / 4;
    grid-row: 8 / 9;
    /*background-color: orangered;*/
}

.item_layout_8_4 {
    grid-column: 4 / 5;
    grid-row: 8 / 9;
    /*background-color: orangered;*/
}

.item_layout_8_5 {
    grid-column: 5 / 6;
    grid-row: 8 / 9;
    /*background-color: orangered;*/
}

.item_layout_8_6 {
    grid-column: 6 / 7;
    grid-row: 8 / 9;
    /*background-color: orangered;*/
}

.item_layout_8_7 {
    grid-column: 7 / 8;
    grid-row: 8 / 9;
    /*background-color: orangered;*/
}

.item_layout_8_8 {
    grid-column: 8 / 9;
    grid-row: 8 / 9;
    /*background-color: orangered;*/
}

.item_layout_8_9 {
    grid-column: 9 / 10;
    grid-row: 8 / 9;
    /*background-color: orangered;*/
}

.item_layout_8_10 {
    grid-column: 10 / 11;
    grid-row: 8 / 9;
    /*background-color: orangered;*/
}

.item_layout_8_11 {
    grid-column: 11 / 12;
    grid-row: 8 / 9;
    /*background-color: orangered;*/
}

.item_layout_8_12 {
    grid-column: 12 / 13;
    grid-row: 8 / 9;
    /*background-color: orangered;*/
}

.item_layout_8_13 {
    grid-column: 13 / 14;
    grid-row: 8 / 9;
    /*background-color: orangered;*/
}

.item_layout_8_14 {
    grid-column: 14 / 15;
    grid-row: 8 / 9;
    /*background-color: orangered;*/
}

.item_layout_8_15 {
    grid-column: 15 / 16;
    grid-row: 8 / 9;
    /*background-color: orangered;*/
}

.item_layout_8_16 {
    grid-column: 16 / 17;
    grid-row: 8 / 9;
    /*background-color: orangered;*/
}

.item_layout_8_17 {
    grid-column: 17 / 18;
    grid-row: 8 / 9;
    /*background-color: orangered;*/
}

.item_layout_8_18 {
    grid-column: 18 / 19;
    grid-row: 8 / 9;
    /*background-color: orangered;*/
}

.item_layout_8_19 {
    grid-column: 19 / 20;
    grid-row: 8 / 9;
    /*background-color: orangered;*/
}

.item_layout_8_20 {
    grid-column: 20 / 21;
    grid-row: 8 / 9;
    /*background-color: orangered;*/
}

/* Cloumn 9 */
.item_layout_9_1 {
    grid-column: 1 / 2;
    grid-row: 9 / 10;
    /*background-color: orangered;*/
}

.item_layout_9_2 {
    grid-column: 2 / 3;
    grid-row: 9 / 10;
    /*background-color: orangered;*/
}

.item_layout_9_3 {
    grid-column: 3 / 4;
    grid-row: 9 / 10;
    /*background-color: orangered;*/
}

.item_layout_9_4 {
    grid-column: 4 / 5;
    grid-row: 9 / 10;
    /*background-color: orangered;*/
}

.item_layout_9_5 {
    grid-column: 5 / 6;
    grid-row: 9 / 10;
    /*background-color: orangered;*/
}

.item_layout_9_6 {
    grid-column: 6 / 7;
    grid-row: 9 / 10;
    /*background-color: orangered;*/
}

.item_layout_9_7 {
    grid-column: 7 / 8;
    grid-row: 9 / 10;
    /*background-color: orangered;*/
}

.item_layout_9_8 {
    grid-column: 8 / 9;
    grid-row: 9 / 10;
    /*background-color: orangered;*/
}

.item_layout_9_9 {
    grid-column: 9 / 10;
    grid-row: 9 / 10;
    /*background-color: orangered;*/
}

.item_layout_9_10 {
    grid-column: 10 / 11;
    grid-row: 9 / 10;
    /*background-color: orangered;*/
}

.item_layout_9_11 {
    grid-column: 11 / 12;
    grid-row: 9 / 10;
    /*background-color: orangered;*/
}

.item_layout_9_12 {
    grid-column: 12 / 13;
    grid-row: 9 / 10;
    /*background-color: orangered;*/
}

.item_layout_9_13 {
    grid-column: 13 / 14;
    grid-row: 9 / 10;
    /*background-color: orangered;*/
}

.item_layout_9_14 {
    grid-column: 14 / 15;
    grid-row: 9 / 10;
    /*background-color: orangered;*/
}

.item_layout_9_15 {
    grid-column: 15 / 16;
    grid-row: 9 / 10;
    /*background-color: orangered;*/
}

.item_layout_9_16 {
    grid-column: 16 / 17;
    grid-row: 9 / 10;
    /*background-color: orangered;*/
}

.item_layout_9_17 {
    grid-column: 17 / 18;
    grid-row: 9 / 10;
    /*background-color: orangered;*/
}

.item_layout_9_18 {
    grid-column: 18 / 19;
    grid-row: 9 / 10;
    /*background-color: orangered;*/
}

.item_layout_9_19 {
    grid-column: 19 / 20;
    grid-row: 9 / 10;
    /*background-color: orangered;*/
}

.item_layout_9_20 {
    grid-column: 20 / 21;
    grid-row: 9 / 10;
    /*background-color: orangered;*/
}

/* Cloumn 10 */
.item_layout_10_1 {
    grid-column: 1 / 2;
    grid-row: 10 / 11;
    /*background-color: orangered;*/
}

.item_layout_10_2 {
    grid-column: 2 / 3;
    grid-row: 10 / 11;
    /*background-color: orangered;*/
}

.item_layout_10_3 {
    grid-column: 3 / 4;
    grid-row: 10 / 11;
    /*background-color: orangered;*/
}

.item_layout_10_4 {
    grid-column: 4 / 5;
    grid-row: 10 / 11;
    /*background-color: orangered;*/
}

.item_layout_10_5 {
    grid-column: 5 / 6;
    grid-row: 10 / 11;
    /*background-color: orangered;*/
}

.item_layout_10_6 {
    grid-column: 6 / 7;
    grid-row: 10 / 11;
    /*background-color: orangered;*/
}

.item_layout_10_7 {
    grid-column: 7 / 8;
    grid-row: 10 / 11;
    /*background-color: orangered;*/
}

.item_layout_10_8 {
    grid-column: 8 / 9;
    grid-row: 10 / 11;
    /*background-color: orangered;*/
}

.item_layout_10_9 {
    grid-column: 9 / 10;
    grid-row: 10 / 11;
    /*background-color: orangered;*/
}

.item_layout_10_10 {
    grid-column: 10 / 11;
    grid-row: 10 / 11;
    /*background-color: orangered;*/
}

.item_layout_10_11 {
    grid-column: 11 / 12;
    grid-row: 10 / 11;
    /*background-color: orangered;*/
}

.item_layout_10_12 {
    grid-column: 12 / 13;
    grid-row: 10 / 11;
    /*background-color: orangered;*/
}

.item_layout_10_13 {
    grid-column: 13 / 14;
    grid-row: 10 / 11;
    /*background-color: orangered;*/
}

.item_layout_10_14 {
    grid-column: 14 / 15;
    grid-row: 10 / 11;
    /*background-color: orangered;*/
}

.item_layout_10_15 {
    grid-column: 15 / 16;
    grid-row: 10 / 11;
    /*background-color: orangered;*/
}

.item_layout_10_16 {
    grid-column: 16 / 17;
    grid-row: 10 / 11;
    /*background-color: orangered;*/
}

.item_layout_10_17 {
    grid-column: 17 / 18;
    grid-row: 10 / 11;
    /*background-color: orangered;*/
}

.item_layout_10_18 {
    grid-column: 18 / 19;
    grid-row: 10 / 11;
    /*background-color: orangered;*/
}

.item_layout_10_19 {
    grid-column: 19 / 20;
    grid-row: 10 / 11;
    /*background-color: orangered;*/
}

.item_layout_10_20 {
    grid-column: 20 / 21;
    grid-row: 10 / 11;
    /*background-color: orangered;*/
}

/* Cloumn 11 */
.item_layout_11_1 {
    grid-column: 1 / 2;
    grid-row: 11 / 12;
    /*background-color: orangered;*/
}

.item_layout_11_2 {
    grid-column: 2 / 3;
    grid-row: 11 / 12;
    /*background-color: orangered;*/
}

.item_layout_11_3 {
    grid-column: 3 / 4;
    grid-row: 11 / 12;
    /*background-color: orangered;*/
}

.item_layout_11_4 {
    grid-column: 4 / 5;
    grid-row: 11 / 12;
    /*background-color: orangered;*/
}

.item_layout_11_5 {
    grid-column: 5 / 6;
    grid-row: 11 / 12;
    /*background-color: orangered;*/
}

.item_layout_11_6 {
    grid-column: 6 / 7;
    grid-row: 11 / 12;
    /*background-color: orangered;*/
}

.item_layout_11_7 {
    grid-column: 7 / 8;
    grid-row: 11 / 12;
    /*background-color: orangered;*/
}

.item_layout_11_8 {
    grid-column: 8 / 9;
    grid-row: 11 / 12;
    /*background-color: orangered;*/
}

.item_layout_11_9 {
    grid-column: 9 / 10;
    grid-row: 11 / 12;
    /*background-color: orangered;*/
}

.item_layout_11_10 {
    grid-column: 10 / 11;
    grid-row: 11 / 12;
    /*background-color: orangered;*/
}

.item_layout_11_11 {
    grid-column: 11 / 12;
    grid-row: 11 / 12;
    /*background-color: orangered;*/
}

.item_layout_11_12 {
    grid-column: 12 / 13;
    grid-row: 11 / 12;
    /*background-color: orangered;*/
}

.item_layout_11_13 {
    grid-column: 13 / 14;
    grid-row: 11 / 12;
    /*background-color: orangered;*/
}

.item_layout_11_14 {
    grid-column: 14 / 15;
    grid-row: 11 / 12;
    /*background-color: orangered;*/
}

.item_layout_11_15 {
    grid-column: 15 / 16;
    grid-row: 11 / 12;
    /*background-color: orangered;*/
}

.item_layout_11_16 {
    grid-column: 16 / 17;
    grid-row: 11 / 12;
    /*background-color: orangered;*/
}

.item_layout_11_17 {
    grid-column: 17 / 18;
    grid-row: 11 / 12;
    /*background-color: orangered;*/
}

.item_layout_11_18 {
    grid-column: 18 / 19;
    grid-row: 11 / 12;
    /*background-color: orangered;*/
}

.item_layout_11_19 {
    grid-column: 19 / 20;
    grid-row: 11 / 12;
    /*background-color: orangered;*/
}

.item_layout_11_20 {
    grid-column: 20 / 21;
    grid-row: 11 / 12;
    /*background-color: orangered;*/
}

/* Cloumn 12 */
.item_layout_12_1 {
    grid-column: 1 / 2;
    grid-row: 12 / 13;
    /*background-color: orangered;*/
}

.item_layout_12_2 {
    grid-column: 2 / 3;
    grid-row: 12 / 13;
    /*background-color: orangered;*/
}

.item_layout_12_3 {
    grid-column: 3 / 4;
    grid-row: 12 / 13;
    /*background-color: orangered;*/
}

.item_layout_12_4 {
    grid-column: 4 / 5;
    grid-row: 12 / 13;
    /*background-color: orangered;*/
}

.item_layout_12_5 {
    grid-column: 5 / 6;
    grid-row: 12 / 13;
    /*background-color: orangered;*/
}

.item_layout_12_6 {
    grid-column: 6 / 7;
    grid-row: 12 / 13;
    /*background-color: orangered;*/
}

.item_layout_12_7 {
    grid-column: 7 / 8;
    grid-row: 12 / 13;
    /*background-color: orangered;*/
}

.item_layout_12_8 {
    grid-column: 8 / 9;
    grid-row: 12 / 13;
    /*background-color: orangered;*/
}

.item_layout_12_9 {
    grid-column: 9 / 10;
    grid-row: 12 / 13;
    /*background-color: orangered;*/
}

.item_layout_12_10 {
    grid-column: 10 / 11;
    grid-row: 12 / 13;
    /*background-color: orangered;*/
}

.item_layout_12_11 {
    grid-column: 11 / 12;
    grid-row: 12 / 13;
    /*background-color: orangered;*/
}

.item_layout_12_12 {
    grid-column: 12 / 13;
    grid-row: 12 / 13;
    /*background-color: orangered;*/
}

.item_layout_12_13 {
    grid-column: 13 / 14;
    grid-row: 12 / 13;
    /*background-color: orangered;*/
}

.item_layout_12_14 {
    grid-column: 14 / 15;
    grid-row: 12 / 13;
    /*background-color: orangered;*/
}

.item_layout_12_15 {
    grid-column: 15 / 16;
    grid-row: 12 / 13;
    /*background-color: orangered;*/
}

.item_layout_12_16 {
    grid-column: 16 / 17;
    grid-row: 12 / 13;
    /*background-color: orangered;*/
}

.item_layout_12_17 {
    grid-column: 17 / 18;
    grid-row: 12 / 13;
    /*background-color: orangered;*/
}

.item_layout_12_18 {
    grid-column: 18 / 19;
    grid-row: 12 / 13;
    /*background-color: orangered;*/
}

.item_layout_12_19 {
    grid-column: 19 / 20;
    grid-row: 12 / 13;
    /*background-color: orangered;*/
}

.item_layout_12_20 {
    grid-column: 20 / 21;
    grid-row: 12 / 13;
    /*background-color: orangered;*/
}

/* Cloumn 13 */
.item_layout_13_1 {
    grid-column: 1 / 2;
    grid-row: 13 / 14;
    /*background-color: orangered;*/
}

.item_layout_13_2 {
    grid-column: 2 / 3;
    grid-row: 13 / 14;
    /*background-color: orangered;*/
}

.item_layout_13_3 {
    grid-column: 3 / 4;
    grid-row: 13 / 14;
    /*background-color: orangered;*/
}

.item_layout_13_4 {
    grid-column: 4 / 5;
    grid-row: 13 / 14;
    /*background-color: orangered;*/
}

.item_layout_13_5 {
    grid-column: 5 / 6;
    grid-row: 13 / 14;
    /*background-color: orangered;*/
}

.item_layout_13_6 {
    grid-column: 6 / 7;
    grid-row: 13 / 14;
    /*background-color: orangered;*/
}

.item_layout_13_7 {
    grid-column: 7 / 8;
    grid-row: 13 / 14;
    /*background-color: orangered;*/
}

.item_layout_13_8 {
    grid-column: 8 / 9;
    grid-row: 13 / 14;
    /*background-color: orangered;*/
}

.item_layout_13_9 {
    grid-column: 9 / 10;
    grid-row: 13 / 14;
    /*background-color: orangered;*/
}

.item_layout_13_10 {
    grid-column: 10 / 11;
    grid-row: 13 / 14;
    /*background-color: orangered;*/
}

.item_layout_13_11 {
    grid-column: 11 / 12;
    grid-row: 13 / 14;
    /*background-color: orangered;*/
}

.item_layout_13_12 {
    grid-column: 12 / 13;
    grid-row: 13 / 14;
    /*background-color: orangered;*/
}

.item_layout_13_13 {
    grid-column: 13 / 14;
    grid-row: 13 / 14;
    /*background-color: orangered;*/
}

.item_layout_13_14 {
    grid-column: 14 / 15;
    grid-row: 13 / 14;
    /*background-color: orangered;*/
}

.item_layout_13_15 {
    grid-column: 15 / 16;
    grid-row: 13 / 14;
    /*background-color: orangered;*/
}

.item_layout_13_16 {
    grid-column: 16 / 17;
    grid-row: 13 / 14;
    /*background-color: orangered;*/
}

.item_layout_13_17 {
    grid-column: 17 / 18;
    grid-row: 13 / 14;
    /*background-color: orangered;*/
}

.item_layout_13_18 {
    grid-column: 18 / 19;
    grid-row: 13 / 14;
    /*background-color: orangered;*/
}

.item_layout_13_19 {
    grid-column: 19 / 20;
    grid-row: 13 / 14;
    /*background-color: orangered;*/
}

.item_layout_13_20 {
    grid-column: 20 / 21;
    grid-row: 13 / 14;
    /*background-color: orangered;*/
}

/* Cloumn 14 */
.item_layout_14_1 {
    grid-column: 1 / 2;
    grid-row: 14 / 15;
    /*background-color: orangered;*/
}

.item_layout_14_2 {
    grid-column: 2 / 3;
    grid-row: 14 / 15;
    /*background-color: orangered;*/
}

.item_layout_14_3 {
    grid-column: 3 / 4;
    grid-row: 14 / 15;
    /*background-color: orangered;*/
}

.item_layout_14_4 {
    grid-column: 4 / 5;
    grid-row: 14 / 15;
    /*background-color: orangered;*/
}

.item_layout_14_5 {
    grid-column: 5 / 6;
    grid-row: 14 / 15;
    /*background-color: orangered;*/
}

.item_layout_14_6 {
    grid-column: 6 / 7;
    grid-row: 14 / 15;
    /*background-color: orangered;*/
}

.item_layout_14_7 {
    grid-column: 7 / 8;
    grid-row: 14 / 15;
    /*background-color: orangered;*/
}

.item_layout_14_8 {
    grid-column: 8 / 9;
    grid-row: 14 / 15;
    /*background-color: orangered;*/
}

.item_layout_14_9 {
    grid-column: 9 / 10;
    grid-row: 14 / 15;
    /*background-color: orangered;*/
}

.item_layout_14_10 {
    grid-column: 10 / 11;
    grid-row: 14 / 15;
    /*background-color: orangered;*/
}

.item_layout_14_11 {
    grid-column: 11 / 12;
    grid-row: 14 / 15;
    /*background-color: orangered;*/
}

.item_layout_14_12 {
    grid-column: 12 / 13;
    grid-row: 14 / 15;
    /*background-color: orangered;*/
}

.item_layout_14_13 {
    grid-column: 13 / 14;
    grid-row: 14 / 15;
    /*background-color: orangered;*/
}

.item_layout_14_14 {
    grid-column: 14 / 15;
    grid-row: 14 / 15;
    /*background-color: orangered;*/
}

.item_layout_14_15 {
    grid-column: 15 / 16;
    grid-row: 14 / 15;
    /*background-color: orangered;*/
}

.item_layout_14_16 {
    grid-column: 16 / 17;
    grid-row: 14 / 15;
    /*background-color: orangered;*/
}

.item_layout_14_17 {
    grid-column: 17 / 18;
    grid-row: 14 / 15;
    /*background-color: orangered;*/
}

.item_layout_14_18 {
    grid-column: 18 / 19;
    grid-row: 14 / 15;
    /*background-color: orangered;*/
}

.item_layout_14_19 {
    grid-column: 19 / 20;
    grid-row: 14 / 15;
    /*background-color: orangered;*/
}

.item_layout_14_20 {
    grid-column: 20 / 21;
    grid-row: 14 / 15;
    /*background-color: orangered;*/
}

/* Cloumn 15 */
.item_layout_15_1 {
    grid-column: 1 / 2;
    grid-row: 15 / 16;
    /*background-color: orangered;*/
}

.item_layout_15_2 {
    grid-column: 2 / 3;
    grid-row: 15 / 16;
    /*background-color: orangered;*/
}

.item_layout_15_3 {
    grid-column: 3 / 4;
    grid-row: 15 / 16;
    /*background-color: orangered;*/
}

.item_layout_15_4 {
    grid-column: 4 / 5;
    grid-row: 15 / 16;
    /*background-color: orangered;*/
}

.item_layout_15_5 {
    grid-column: 5 / 6;
    grid-row: 15 / 16;
    /*background-color: orangered;*/
}

.item_layout_15_6 {
    grid-column: 6 / 7;
    grid-row: 15 / 16;
    /*background-color: orangered;*/
}

.item_layout_15_7 {
    grid-column: 7 / 8;
    grid-row: 15 / 16;
    /*background-color: orangered;*/
}

.item_layout_15_8 {
    grid-column: 8 / 9;
    grid-row: 15 / 16;
    /*background-color: orangered;*/
}

.item_layout_15_9 {
    grid-column: 9 / 10;
    grid-row: 15 / 16;
    /*background-color: orangered;*/
}

.item_layout_15_10 {
    grid-column: 10 / 11;
    grid-row: 15 / 16;
    /*background-color: orangered;*/
}

.item_layout_15_11 {
    grid-column: 11 / 12;
    grid-row: 15 / 16;
    /*background-color: orangered;*/
}

.item_layout_15_12 {
    grid-column: 12 / 13;
    grid-row: 15 / 16;
    /*background-color: orangered;*/
}

.item_layout_15_13 {
    grid-column: 13 / 14;
    grid-row: 15 / 16;
    /*background-color: orangered;*/
}

.item_layout_15_14 {
    grid-column: 14 / 15;
    grid-row: 15 / 16;
    /*background-color: orangered;*/
}

.item_layout_15_15 {
    grid-column: 15 / 16;
    grid-row: 15 / 16;
    /*background-color: orangered;*/
}

.item_layout_15_16 {
    grid-column: 16 / 17;
    grid-row: 15 / 16;
    /*background-color: orangered;*/
}

.item_layout_15_17 {
    grid-column: 17 / 18;
    grid-row: 15 / 16;
    /*background-color: orangered;*/
}

.item_layout_15_18 {
    grid-column: 18 / 19;
    grid-row: 15 / 16;
    /*background-color: orangered;*/
}

.item_layout_15_19 {
    grid-column: 19 / 20;
    grid-row: 15 / 16;
    /*background-color: orangered;*/
}

.item_layout_15_20 {
    grid-column: 20 / 21;
    grid-row: 15 / 16;
    /*background-color: orangered;*/
}

/* Cloumn 16 */
.item_layout_16_1 {
    grid-column: 1 / 2;
    grid-row: 16 / 17;
    /*background-color: orangered;*/
}

.item_layout_16_2 {
    grid-column: 2 / 3;
    grid-row: 16 / 17;
    /*background-color: orangered;*/
}

.item_layout_16_3 {
    grid-column: 3 / 4;
    grid-row: 16 / 17;
    /*background-color: orangered;*/
}

.item_layout_16_4 {
    grid-column: 4 / 5;
    grid-row: 16 / 17;
    /*background-color: orangered;*/
}

.item_layout_16_5 {
    grid-column: 5 / 6;
    grid-row: 16 / 17;
    /*background-color: orangered;*/
}

.item_layout_16_6 {
    grid-column: 6 / 7;
    grid-row: 16 / 17;
    /*background-color: orangered;*/
}

.item_layout_16_7 {
    grid-column: 7 / 8;
    grid-row: 16 / 17;
    /*background-color: orangered;*/
}

.item_layout_16_8 {
    grid-column: 8 / 9;
    grid-row: 16 / 17;
    /*background-color: orangered;*/
}

.item_layout_16_9 {
    grid-column: 9 / 10;
    grid-row: 16 / 17;
    /*background-color: orangered;*/
}

.item_layout_16_10 {
    grid-column: 9 / 12;
    grid-row: 15 / 18;
    /* background-color: orangered; */
}

.item_layout_16_11 {
    grid-column: 11 / 12;
    grid-row: 16 / 17;
    /*background-color: orangered;*/
}

.item_layout_16_12 {
    grid-column: 12 / 13;
    grid-row: 16 / 17;
    /*background-color: orangered;*/
}

.item_layout_16_13 {
    grid-column: 13 / 14;
    grid-row: 16 / 17;
    /*background-color: orangered;*/
}

.item_layout_16_14 {
    grid-column: 14 / 15;
    grid-row: 16 / 17;
    /*background-color: orangered;*/
}

.item_layout_16_15 {
    grid-column: 15 / 16;
    grid-row: 16 / 17;
    /*background-color: orangered;*/
}

.item_layout_16_16 {
    grid-column: 16 / 17;
    grid-row: 16 / 17;
    /*background-color: orangered;*/
}

.item_layout_16_17 {
    grid-column: 17 / 18;
    grid-row: 16 / 17;
    /*background-color: orangered;*/
}

.item_layout_16_18 {
    grid-column: 18 / 19;
    grid-row: 16 / 17;
    /*background-color: orangered;*/
}

.item_layout_16_19 {
    grid-column: 18 / 21;
    grid-row: 15 / 18;
    /* background-color: orangered; */
}

.item_layout_16_20 {
    grid-column: 20 / 21;
    grid-row: 16 / 17;
    /*background-color: orangered;*/
}

/* Cloumn 17 */
.item_layout_17_1 {
    grid-column: 1 / 2;
    grid-row: 17 / 18;
    /*background-color: orangered;*/
}

.item_layout_17_2 {
    grid-column: 2 / 3;
    grid-row: 17 / 18;
    /*background-color: orangered;*/
}

.item_layout_17_3 {
    grid-column: 3 / 4;
    grid-row: 17 / 18;
    /*background-color: orangered;*/
}

.item_layout_17_4 {
    grid-column: 4 / 5;
    grid-row: 17 / 18;
    /*background-color: orangered;*/
}

.item_layout_17_5 {
    grid-column: 5 / 6;
    grid-row: 17 / 18;
    /*background-color: orangered;*/
}

.item_layout_17_6 {
    grid-column: 6 / 7;
    grid-row: 17 / 18;
    /*background-color: orangered;*/
}

.item_layout_17_7 {
    grid-column: 7 / 8;
    grid-row: 17 / 18;
    /*background-color: orangered;*/
}

.item_layout_17_8 {
    grid-column: 8 / 9;
    grid-row: 17 / 18;
    /*background-color: orangered;*/
}

.item_layout_17_9 {
    grid-column: 9 / 10;
    grid-row: 17 / 18;
    /*background-color: orangered;*/
}

.item_layout_17_10 {
    grid-column: 10 / 11;
    grid-row: 17 / 18;
    /*background-color: orangered;*/
}

.item_layout_17_11 {
    grid-column: 11 / 12;
    grid-row: 17 / 18;
    /*background-color: orangered;*/
}

.item_layout_17_12 {
    grid-column: 12 / 13;
    grid-row: 17 / 18;
    /*background-color: orangered;*/
}

.item_layout_17_13 {
    grid-column: 13 / 14;
    grid-row: 17 / 18;
    /*background-color: orangered;*/
}

.item_layout_17_14 {
    grid-column: 14 / 15;
    grid-row: 17 / 18;
    /*background-color: orangered;*/
}

.item_layout_17_15 {
    grid-column: 15 / 16;
    grid-row: 17 / 18;
    /*background-color: orangered;*/
}

.item_layout_17_16 {
    grid-column: 16 / 17;
    grid-row: 17 / 18;
    /*background-color: orangered;*/
}

.item_layout_17_17 {
    grid-column: 17 / 18;
    grid-row: 17 / 18;
    /*background-color: orangered;*/
}

.item_layout_17_18 {
    grid-column: 18 / 19;
    grid-row: 17 / 18;
    /*background-color: orangered;*/
}

.item_layout_17_19 {
    grid-column: 19 / 20;
    grid-row: 17 / 18;
    /*background-color: orangered;*/
}

.item_layout_17_20 {
    grid-column: 20 / 21;
    grid-row: 17 / 18;
    /*background-color: orangered;*/
}

/* Cloumn 18 */
.item_layout_18_1 {
    grid-column: 1 / 2;
    grid-row: 18 / 19;
    /*background-color: orangered;*/
}

.item_layout_18_2 {
    grid-column: 2 / 3;
    grid-row: 18 / 19;
    /*background-color: orangered;*/
}

.item_layout_18_3 {
    grid-column: 3 / 4;
    grid-row: 18 / 19;
    /*background-color: orangered;*/
}

.item_layout_18_4 {
    grid-column: 4 / 5;
    grid-row: 18 / 19;
    /*background-color: orangered;*/
}

.item_layout_18_5 {
    grid-column: 5 / 6;
    grid-row: 18 / 19;
    /*background-color: orangered;*/
}

.item_layout_18_6 {
    grid-column: 6 / 7;
    grid-row: 18 / 19;
    /*background-color: orangered;*/
}

.item_layout_18_7 {
    grid-column: 7 / 8;
    grid-row: 18 / 19;
    /*background-color: orangered;*/
}

.item_layout_18_8 {
    grid-column: 8 / 9;
    grid-row: 18 / 19;
    /*background-color: orangered;*/
}

.item_layout_18_9 {
    grid-column: 9 / 10;
    grid-row: 18 / 19;
    /*background-color: orangered;*/
}

.item_layout_18_10 {
    grid-column: 10 / 11;
    grid-row: 18 / 19;
    /*background-color: orangered;*/
}

.item_layout_18_11 {
    grid-column: 11 / 12;
    grid-row: 18 / 19;
    /*background-color: orangered;*/
}

.item_layout_18_12 {
    grid-column: 12 / 13;
    grid-row: 18 / 19;
    /*background-color: orangered;*/
}

.item_layout_18_13 {
    grid-column: 13 / 14;
    grid-row: 18 / 19;
    /*background-color: orangered;*/
}

.item_layout_18_14 {
    grid-column: 14 / 15;
    grid-row: 18 / 19;
    /*background-color: orangered;*/
}

.item_layout_18_15 {
    grid-column: 15 / 16;
    grid-row: 18 / 19;
    /*background-color: orangered;*/
}

.item_layout_18_16 {
    grid-column: 16 / 17;
    grid-row: 18 / 19;
    /*background-color: orangered;*/
}

.item_layout_18_17 {
    grid-column: 17 / 18;
    grid-row: 18 / 19;
    /*background-color: orangered;*/
}

.item_layout_18_18 {
    grid-column: 18 / 19;
    grid-row: 18 / 19;
    /*background-color: orangered;*/
}

.item_layout_18_19 {
    grid-column: 19 / 20;
    grid-row: 18 / 19;
    /*background-color: orangered;*/
}

.item_layout_18_20 {
    grid-column: 20 / 21;
    grid-row: 18 / 19;
    /*background-color: orangered;*/
}

/* Cloumn 19 */
.item_layout_19_1 {
    grid-column: 1 / 2;
    grid-row: 19 / 20;
    /*background-color: orangered;*/
}

.item_layout_19_2 {
    grid-column: 2 / 3;
    grid-row: 19 / 20;
    /*background-color: orangered;*/
}

.item_layout_19_3 {
    grid-column: 3 / 4;
    grid-row: 19 / 20;
    /*background-color: orangered;*/
}

.item_layout_19_4 {
    grid-column: 4 / 5;
    grid-row: 19 / 20;
    /*background-color: orangered;*/
}

.item_layout_19_5 {
    grid-column: 5 / 6;
    grid-row: 19 / 20;
    /*background-color: orangered;*/
}

.item_layout_19_6 {
    grid-column: 6 / 7;
    grid-row: 19 / 20;
    /*background-color: orangered;*/
}

.item_layout_19_7 {
    grid-column: 7 / 8;
    grid-row: 19 / 20;
    /*background-color: orangered;*/
}

.item_layout_19_8 {
    grid-column: 8 / 9;
    grid-row: 19 / 20;
    /*background-color: orangered;*/
}

.item_layout_19_9 {
    grid-column: 9 / 10;
    grid-row: 19 / 20;
    /*background-color: orangered;*/
}

.item_layout_19_10 {
    grid-column: 10 / 11;
    grid-row: 19 / 20;
    /*background-color: orangered;*/
}

.item_layout_19_11 {
    grid-column: 11 / 12;
    grid-row: 19 / 20;
    /*background-color: orangered;*/
}

.item_layout_19_12 {
    grid-column: 12 / 13;
    grid-row: 19 / 20;
    /*background-color: orangered;*/
}

.item_layout_19_13 {
    grid-column: 13 / 14;
    grid-row: 19 / 20;
    /*background-color: orangered;*/
}

.item_layout_19_14 {
    grid-column: 14 / 15;
    grid-row: 19 / 20;
    /*background-color: orangered;*/
}

.item_layout_19_15 {
    grid-column: 15 / 16;
    grid-row: 19 / 20;
    /*background-color: orangered;*/
}

.item_layout_19_16 {
    grid-column: 16 / 17;
    grid-row: 19 / 20;
    /*background-color: orangered;*/
}

.item_layout_19_17 {
    grid-column: 17 / 18;
    grid-row: 19 / 20;
    /*background-color: orangered;*/
}

.item_layout_19_18 {
    grid-column: 18 / 19;
    grid-row: 19 / 20;
    /*background-color: orangered;*/
}

.item_layout_19_19 {
    grid-column: 19 / 20;
    grid-row: 19 / 20;
    /*background-color: orangered;*/
}

.item_layout_19_20 {
    grid-column: 20 / 21;
    grid-row: 19 / 20;
    /*background-color: orangered;*/
}

/* Cloumn 20 */
.item_layout_20_1 {
    grid-column: 1 / 2;
    grid-row: 20 / 21;
    /*background-color: orangered;*/
}

.item_layout_20_2 {
    grid-column: 2 / 3;
    grid-row: 20 / 21;
    /*background-color: orangered;*/
}

.item_layout_20_3 {
    grid-column: 3 / 4;
    grid-row: 20 / 21;
    /*background-color: orangered;*/
}

.item_layout_20_4 {
    grid-column: 4 / 5;
    grid-row: 20 / 21;
    /*background-color: orangered;*/
}

.item_layout_20_5 {
    grid-column: 5 / 6;
    grid-row: 20 / 21;
    /*background-color: orangered;*/
}

.item_layout_20_6 {
    grid-column: 6 / 7;
    grid-row: 20 / 21;
    /*background-color: orangered;*/
}

.item_layout_20_7 {
    grid-column: 7 / 8;
    grid-row: 20 / 21;
    /*background-color: orangered;*/
}

.item_layout_20_8 {
    grid-column: 8 / 9;
    grid-row: 20 / 21;
    /*background-color: orangered;*/
}

.item_layout_20_9 {
    grid-column: 9 / 10;
    grid-row: 20 / 21;
    /*background-color: orangered;*/
}

.item_layout_20_10 {
    grid-column: 10 / 11;
    grid-row: 20 / 21;
    /*background-color: orangered;*/
}

.item_layout_20_11 {
    grid-column: 11 / 12;
    grid-row: 20 / 21;
    /*background-color: orangered;*/
}

.item_layout_20_12 {
    grid-column: 12 / 13;
    grid-row: 20 / 21;
    /*background-color: orangered;*/
}

.item_layout_20_13 {
    grid-column: 13 / 14;
    grid-row: 20 / 21;
    /*background-color: orangered;*/
}

.item_layout_20_14 {
    grid-column: 14 / 15;
    grid-row: 20 / 21;
    /*background-color: orangered;*/
}

.item_layout_20_15 {
    grid-column: 15 / 16;
    grid-row: 20 / 21;
    /*background-color: orangered;*/
}

.item_layout_20_16 {
    grid-column: 16 / 17;
    grid-row: 20 / 21;
    /*background-color: orangered;*/
}

.item_layout_20_17 {
    grid-column: 17 / 18;
    grid-row: 20 / 21;
    /*background-color: orangered;*/
}

.item_layout_20_18 {
    grid-column: 18 / 19;
    grid-row: 20 / 21;
    /*background-color: orangered;*/
}

.item_layout_20_19 {
    grid-column: 19 / 20;
    grid-row: 20 / 21;
    /*background-color: orangered;*/
}

.item_layout_20_20 {
    grid-column: 20 / 21;
    grid-row: 20 / 21;
    /*background-color: orangered;*/
}