.app {
  height: 100vh;
  width: 100vw;

  /* background-color: yellow; */

  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 10vh 90vh;
  /* gap: 5px 5px; */
}

.area-title {
  margin: 5px;
  grid-column: 1 / 3;    
  grid-row: 1 / 2;  

  /* background-color: aqua; */

  color: white;
  font-weight: bolder;
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  

  line-height: 10vh;
  text-align: center;
}

.area-graph {
  margin: 5px;
  grid-column: 1 / 2;    
  grid-row: 2 / 3;  

  /* background-color: blue; */
}

.area-control {
  margin: 5px;
  grid-column: 2 / 3;    
  grid-row: 2 / 3;  

  /* background-color: red; */
}